[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-socketio = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
pep8 = "*"

[dev-packages]

[requires]
python_version = "3.9"
